<div class="container">
  <div class="row">
    <div class='mx-auto col-12 col-xl-10'>

      <h2>
        <strong>商品一覧</strong>
        <span>(全<%= @products.count %>件)</span>
      </h2>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-3">
            <div><strong>
              <div><%= attachment_image_tag product, :image, size: "200x150" %></div>
              <div><%= product.name %></div>
              <div>¥<%= product.price.to_s(:delimited) %></div>
            </strong></div>
          </div>
        <% end %>
      </div>
        <div>
          <%= paginate @products %>
        </div>
    </div>
  </div>
</div>