<div class="container">
  <div class="row">

      <div class="col-lg-4 offset-lg-2">
        <%= attachment_image_tag @product, :image, size: "350x250" %>
      </div>
      <div class="col-lg-6">
        <p><h3><strong><%= @product.name %></strong></h3></p>
        <p><h4><strong><%= @product.introduction %></strong></h4></p></br>
        <p><h3><strong>
          ￥<%= @product.add_tax_price.to_s(:delimited) %>（税込）
        </strong></h3></p>
        <div class="col-sm-6">
          <%= form_with(model: @cart_item, url: cart_items_path, local: true) do |f| %>

                <%= f.hidden_field :product_id, value:@product.id %>

                <%= f.select :amount, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10},
                { include_blank: '個数選択'}, { class: 'form-control ' , required: true } %>

                <%= f.submit :"カートに入れる", class: "btn btn-success sign_up" %>

          <% end %>
         </div>
      </div>

  </div>
</div>
