<div class="container">
 <div class="row">
  <div class="mx-auto col-xl-11">
   <h2><span class="badge badge-secondary">配送先登録/一覧</span></h2>
  </div>
 </div>
 <%= form_with model: @receiver, local:true do |f| %>
  <h5>郵便番号（ハイフンなし）</h5>
   <%= f.text_field :postal_code %>
  <h5>住所</h5>
   <%= f.text_field :address %>
  <h5>宛名</h5>
   <%= f.text_field :name %>
   <%= f.submit '新規登録', class: "btn btn-success sign_up" %>
  <% end %>
</div>
<table border="1" class="mx-5 mt-5">
 <tr>
  <th>郵便番号</th>
  <th>住所</th>
  <th>宛名</th>
  <th>         </th>
 </tr>
 <% @receivers.each do |receiver| %>
 <tr>
  <td><%= receiver.postal_code %></td>
  <td><%= receiver.address %></td>
  <td><%= receiver.name %></td>
  <td>
   <%= link_to "編集する",  edit_receiver_path(receiver.id), class:"btn btn-sm btn-success" %>
   <%= link_to "削除する", receiver_path(receiver.id), method: :delete, class:"btn btn-sm btn-danger" %>
  </td>
 </tr>
 <% end %>
</table>
