<div class="container">
  <div class="row">
    <div class="col-lg-12">

        <table class='table col-md-8'>
          <h4><strong>注文情報確認</strong></h4>
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% sum = 0 %>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td>
                  <%= attachment_image_tag cart_item.product, :image, size: "100x80" %>
                  <%= cart_item.product.name %>
                </td>
                <td>
                  <%= cart_item.product.add_tax_price.to_s(:delimited) %>
                </td>

                  <% sum = sum + cart_item.product.price * 1.1 * cart_item.amount %>
                  <% sum1 = cart_item.product.add_tax_price * cart_item.amount %>

                <td>
                  <%= cart_item.amount %>
                </td>
                <td>
                  <%= sum1.floor.to_s(:delimited) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table class='table col-md-2'>
          <thead>
            <tr><th>送料</th>
            <td><%= @carriage %></td></tr>
            <tr><th>商品合計</th>
            <td><%= sum.floor.to_s(:delimited) %></td></tr>
            <tr><th>請求金額</th>
              <% sum2 = sum + @carriage %>
            <td>
              <%= sum2.floor.to_s(:delimited) %>
            </td></tr>
            </tr>
          </thead>
        </table>


           <div class='col-md-8'>
            <div>
              <h5><strong>支払方法</strong></h5>
              <%= @payment_method %>
            </div>
            <div>
              <h5><strong>お届け先</strong></h5>
              <% if @address_option == "0" %>
                <%= @my_address.postal_code %>
                <%= @my_address.address %>
                <%= @my_address.first_name %>
              <% elsif @address_option == "1" %>
                <%= @saved_address.postal_code %>
                <%= @saved_address.address %>
                <%= @saved_address.name %>
              <% elsif @address_option == "2" %>
                <%= @order.postal_code %>
                <%= @order.address %>
                <%= @order.name %>
              <% end %>
            </div>
           </div>

        <!--<div class ="col text-center">-->

        <!--</div>-->

    </div>
  </div>
</div>

        <div>
         <%= form_with(model: @order, url: orders_path, local: true) do |f| %>
          <%= f.hidden_field :total_payment, value:sum2 %>
          <%= f.submit "注文を確定する", class:"btn btn-success" %>
         <% end %>
        </div>