<div class="contain">
  <div class="row">
  <div class="mx-auto col-12 col-xl-10">
<h2><span class="badge badge-secondary">商品一覧</span></h2>
</div>
</div>
<div>
<%= link_to new_admins_product_path do %>
<button type="button" class="btn btn-light">  +  </button>
<% end %>
</div>
<div class= "col-md-8 offset-md-1">
<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admins_product_path(product) %></td>
        <td><%= product.price.to_s(:delimited) %></td>
        <td><%= product.genre.name %></td>
        <td>
         <% if product.is_active %>
          <p class="text-success">販売中</p>
         <% else %>
          <p class="text-muted">販売停止中</p>
         <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
 <%= paginate @products %>
</table>
</div>