<div class="contain">
  <div class="row">
   <div class="mx-auto col-12 col-xl-10">
     <h2><span class="badge badge-secondary">注文履歴詳細</span></h2>
   </div>
  </div>
  <div class="row">
  <div class="col-lg-5 ml-5">
<table class= "table table-borderless">
  <tr>
    <th>購入者</th>
    <td><%= link_to @customer, admins_customer_path(@customer) %></td>
  </tr>
  <tr>
    <th>注文日</th>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method %></td>
  </tr>
  <tr>
    <th>注文ステータス</th>
    <td>
     <%= form_with(model: @order,url: admins_order_path, local: true) do |f| %>
      <div class="form-group">
       <%= f.select :status, {'入金待ち': 0, '入金確認': 1, '製作中': 2, '発送準備中': 3, '発送済み': 4 }, { class: 'form-control' , required: true } %>
       <%= f.submit "更新", class: "btn btn-success" %>
      </div>
     <% end %>
    </td>
  </tr>
</table>
  </div>
  </div>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<!--  <%# @ordered_products.each do |ordered_product| %>-->
<!--    <tr>-->
<!--      <td><%#= ordered_product.name %></td>-->
<!--      <td><%#= ordered_product.price %></td>-->
<!--      <td><%#= ordered_product.amount %></td>-->
<!--      <td><%#= ordered_product.price %></td>-->
<!--      <td><%#= orderd_product.making_status %></td>-->
<!--      <td>-->
<!--        <%#= form_with(model: ordered_product, local: true) do |f| %>-->
<!--          <div class="form-group">-->
<!--            <%#= f.label :making_status, '製作ステータス' %>-->
<!--            <%#= f.select :making_status, {'製作不可': 0, '製作待ち': 1, '製作中': 2, '製作完了': 3},{ include_blank: '選択してください'}, { class: 'form-control' , required: true } %>-->
<!--            <%#= f.submit "更新" %>-->
<!--          </div>-->
<!--        <%# end %>-->
<!--      </td>-->
<!--    </tr>-->
<!--  <%# end %>-->
<!--  </tbody>-->
<!--</table>-->
<!--<div>-->
<!--  <tr>-->
<!--    <th>商品合計</th>-->
<!--    <td><%#= @order.total_payment %>円</td>-->
<!--    <th>送料</th>-->
<!--    <td><%#= @order.carriage %>円</td>-->
<!--    <th>請求合計金額</th>-->
<!--    <td><%#= (@order.total_payment + @order.carriage) %></td>-->
<!--  </tr>-->
<!--</div>-->
<!--</div>-->